.buffer {
    background: #d9dadb;
    grid-column: 1/span 20;
    grid-row: 9/span 12;
    opacity: 0%;
    text-align: right;
    font-weight: bold;
    transition: all 500ms;
    font-size: 160%;
    overflow: auto;
    z-index: -1;
}

.bufferActive {
    background: #d8d9da;
    grid-column: 1/span 20;
    grid-row: 9/span 12;
    text-align: right;
    z-index: 10;
    opacity: 100%;
    font-weight: bold;
    overflow: auto;
    font-size: 160%;
}

.bufferActive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #cbcbcb;
}

.bufferActive::-webkit-scrollbar {
    width: 3px;
    background-color: #dcdcdc;
}

.bufferActive::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1px rgba(114, 114, 114, 0.3);
    background-color: #787777;
}

.buffer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #cbcbcb;
}

.buffer::-webkit-scrollbar {
    width: 3px;
    background-color: #dcdcdc;
}

.buffer::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1px rgba(114, 114, 114, 0.3);
    background-color: #787777;
}

.logVal {
    font-size: 50%;
}

/*@media screen and (min-width:916px) {*/
/*    .buffer{*/
/*        background: #d9dadb;*/
/*        grid-column: 1/span 21;*/
/*        grid-row: 9/span 12;*/
/*        opacity: 0%;*/
/*        text-align: right;*/
/*        font-weight: bold;*/
/*        transition: all  500ms;*/
/*        font-size:160% ;*/
/*        overflow: auto;*/
/*        z-index: -1;*/
/*    }*/
/*    .bufferActive{*/
/*        background: #d8d9da;*/
/*        grid-column: 21/span 1 ;*/
/*        grid-row: 9/span 12 ;*/
/*        text-align: right;*/
/*        z-index: 10;*/
/*        opacity: 100%;*/
/*        font-weight: bold;*/
/*        overflow: auto;*/
/*        font-size:160% ;*/
/*    }*/
/*}*/