.buffer{
    background: #f0eef0;
    font-weight: bold;
    font-size: 300%;
    grid-column: 1/21;
    grid-row: 9/21;
    z-index: 99991;
    overflow: auto;
    position: static;
}
.logVal{
    font-size: 50%;
}