.cl {
    grid-column: 1/14;
    grid-row: 2/21;
    background:  #F0EEF0;
    display: grid;
    grid-template-areas:
            "head"
            "body"
            "foot";
    grid-template-rows: 10% 80% 10% ;
    position: static;

}
.header{
    grid-area: head;
    background:  #F0EEF0;
}
.body{
    grid-area: body;
    background:  #F0EEF0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: auto;
}
.footer {
    grid-area: foot;
    background: #F0EEF0;
    font-size: 90%;
    text-align: left;
    padding-left: 40px;
}
.b{
    height: 30px;
    background: #F0EEF0;
    font-size: 90%;
    text-align: left;
    padding-left: 30px;
}
.b:hover{
    background: #F7F7F7;
}
.d{
    height: 30px;
    background: #F0EEF0;
    font-size: 90%;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
}
.d:hover{
    background: #F7F7F7;
}
.img{
    height: 20px;
    width:20px ;
}