.cl{
    margin-top: 17%;
    display: grid;
    max-height: inherit;
    grid-area: body;
    grid-template-areas:
            "head"
            "body"
            "foot"
            "footttter";
    grid-template-rows: 10% 60% 10% 20%;
    width: 200px;
    transition: margin-left 100ms;
    margin-left: -200px;
    z-index: 2;
}
.clActive{
    margin-top: 17%;
    grid-area: body;
    display: grid;
    grid-template-areas:
            "head"
            "body"
            "foot"
            "footttter";
    grid-template-rows: 10% 60% 10% 20%;
    width: 200px;
    margin-left: 0px;
    position: static;
    z-index: 2;
}
.header{
    grid-area: head;
    background: #F0EEF0 ;
}
.body{
    grid-area: body;
    background:  #F0EEF0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: auto;
}
/*scroll bar */
.body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 2px;
    background-color: #F5F5F5;
}
.body::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}
.body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1px rgba(114, 114, 114, 0.3);
    background-color: #d9d7d7;
}
.footer {
    grid-area: foot;
    background: #F0EEF0;
    font-size: 90%;
    text-align: left;
    padding-left: 40px;
}
.b{
    height: 30px;
    background: #F0EEF0;
    font-size: 100%;
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
}
.b:hover{
    background: #F7F7F7;
}
.d{
    height: 30px;
    background: #F0EEF0;
    font-size: 90%;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}
.d:hover{
    background: #F7F7F7;
}
.img{

    height: 20px;
    width:20px ;
}
.fontWinCalc{
    font-family: WinCalc;
}
.fontSeguiSym{
    font-size: 80%;
    font-family: SegoeUI;
    padding-left: 10px ;
}
