.grid {
	display: grid;
	grid-template-areas: "field body field2";
	grid-template-columns: 25% max-content 25%;
	background: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
}

.item2{
	grid-area: field;
	z-index: 7777;
	background-color: white;
}
.item3{
	grid-area: field;
}
.item {
	margin-top: 5%;
	max-height: 550px;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	border: 1px solid #575656;
	/*padding: 10px;*/
	grid-area: body;

}
@media screen and (min-width:916px) {
	.item {
		margin-top: 5%;
		max-height: 550px;
		display: grid;
		grid-template-columns: repeat(20, 1fr) 300px;
		grid-template-rows: repeat(20, 1fr);

		border: 1px solid #575656;
		/*padding: 10px;*/
		grid-area: body;

	}
}
div button{
	background: rgb(255, 255, 255);
	border: 1px solid #f5f5f5; /* Параметры рамки */
	outline: #2a2929;
	font-size: large;
}
div button:hover{
	background: #d9d7d7;
	border: 1px solid #A4A4A4; /* Параметры рамки */

}
div button:active{
	background: #c2c0c0
}
.btnPM{
	grid-column: 1/span 6;
	grid-row: 19 / span 2;
}


.btnMENU{
	grid-column: 1/span 2;
	grid-row: 2/ span 2;
	border: none;
	z-index: 3;
}
.btnMENU:hover {
	border: none;
}
.divMODE{
	grid-column: 4/span 6 ;
	grid-row: 2/ span 2 ;
	border: none;
	margin: auto;
	font-weight: bold;
	font-size: 120%;
}
.btn0{
	grid-column: 6/span 5;
	grid-row: 19 / span 2;
}
.btnZPT{
	grid-column: 11/span 5;
	grid-row: 19 / span 2;
}
.btnRAVNO{
	grid-column: 16/span 5;
	grid-row: 19 /span 2;
	background: #b5dfe8;
}
.btnRAVNO:hover {
	background: rgb(86, 178, 194);
}
.btnRAVNO:active {
	background: rgb(11, 125, 146);
}
/*второй ряд снизу*/
.btn1{
	grid-column: 1/span 5;
	grid-row:  17/ span 2;
}
.btn2{
	grid-column: 6/span 5;
	grid-row:  17/ span 2;
}
.btn3{
	grid-column: 11/span 5;
	grid-row:  17/ span 2;
}
.btnPLUS{
	grid-column: 16/span 5;
	grid-row:  17/ span 2;
}
/*третий ряд снизу*/
.btn4{
	grid-column: 1/span 5 ;
	grid-row:  15/ span 2;
}
.btn5{
	grid-column: 6/span 5;
	grid-row:  15/ span 2;
}
.btn6{
	grid-column: 11/span 5;
	grid-row:  15/ span 2;
}
.btnMINUS{
	grid-column: 16/span 5;
	grid-row:  15/ span 2;
}
/*четвертый ряд снизу*/
.btn7{
	grid-column: 1/span 5;
	grid-row:  13/ span 2;
}
.btn8{
	grid-column: 6/span 5;
	grid-row:  13/ span 2;
}
.btn9{
	grid-column: 11/span 5;
	grid-row:  13/ span 2;
}
.btnX{
	grid-column: 16/span 5;
	grid-row:  13/ span 2;
}
/*пятый ряд снизу*/
.btnONEX{
	grid-column: 1/span 5;
	grid-row:  11/ span 2;
}
.btnKVADRAT{
	grid-column: 6/span 5;
	grid-row:  11/ span 2;
}
.btnKOREN{
	grid-column: 11/span 5;
	grid-row:  11/ span 2;
}
.btnDELEN{
	grid-column: 16/span 5;
	grid-row:  11/ span 2;
}
/*шестой ряд снизу*/
.btnPROC{
	grid-column: 1/span 5;
	grid-row:  9/ span 2;
}
.btnCE{
	grid-column: 6/span 5;
	grid-row:  9/ span 2;
}
.btnC{
	grid-column: 11/span 5;
	grid-row:  9/ span 2;
}
.btnBACK{
	grid-column: 16/span 5;
	grid-row:  9/ span 2;
}
/*шестой ряд снизу*/
.memMenu{
    grid-column: 1/span 20;
    grid-row: 8/span 1;
}
.input{
	grid-column: 1/ span 20 ;
	grid-row: 5/span 3;
	border: none;
	background: #f3f1f1;
	text-align: right;
	font-size:160% ;
	font-weight: bold;
	padding-right: 10px;

}
.inputUP{
	grid-column: 1/span 20;
	grid-row: 4/span 1 ;
	border: none;
	background: #f3f1f1;
	text-align: right;
	color: #8e8c8c;
	padding-right: 10px;
}
.label{
	grid-column: 1/span 7;
	grid-row: 1/span 1;
	font-size: 90%;
	margin: auto;
}
.btnCLOSE{
	grid-column: 19/span 2 ;
	grid-row:  1/span 1;
	border: none;
}
.btnCLOSE:hover{
	background-color: #ff0000;
	border: none;
}
.btnSIDE{
	grid-column: 17/span 2;
	grid-row:  1/span 1;
	border: none;
}
.btnSIDE:hover {
	border: none;
}
.btnRollUp{
	grid-column: 15/span 2;
	grid-row:  1/span 1 ;
	border: none;
}
.btnRollUp:hover{
	border: none;
}
.btnHIST{
	grid-column: 18/span 3 ;
	grid-row: 2/ span 2;
	border: none;
}
.btnHIST:hover{
	border: none;
}
.backgroun2{
	background: #f0eef0;
}
.backgroun3{
background: #f7f7f7;
}
.backgroun4{
	background: #c2c0c0
}
@font-face {

font-family: "Segoe UI";

src: url("./fonts/9404.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Material";
	src: url('./fonts/MaterialIcons-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
.curtain{
	background: black;
	grid-row: 1/span 8;
	grid-column: 1/span 20;
	transition: 500ms;
	opacity: 0%;
	z-index: -1;
}
.curtainActive{
	background: black;
	grid-row: 1/span 8;
	opacity: 20%;
	grid-column: 1/span 20;
	z-index: 4;

}
.curtainAll{
	grid-row: 1/span 20;
	grid-column: 1/span 20;
	z-index: -1;
}
.curtainAllActive{
	grid-row: 1/span 20;
	grid-column: 1/span 20;
	z-index: 1;
}

.fontMater{
	font-family: Material;
}